* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100vh;
}


.pokemon-card{
    display:flex;
    flex-direction: column;
  position: relative;          
  width: 180px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  padding: 64px 18px 18px;     
  text-align: center;
   margin-top: 100px;
   margin-left: 20px;
}


.pokemonID{
    margin-top: -20px;
    margin-bottom: 10px;
}

.test{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 100px;
}


.poke-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
 ;
}

.pokemon-sprite {
  position: absolute;
  top: -50px;                  
  left: 50%;
  transform: translateX(-50%);
  width: 96px;               
  height: 96px;
  image-rendering: pixelated;  
}


.types-row {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    background-color: antiquewhite;
}



.test5{
    display: flex;
    justify-content: center;
}

