.btec {
  padding: 4px 10px;
  border-radius: 999px;
  font-weight: 700;
  font-size: 12px;
  background: #eee;
}

.types-row {
  margin-top: 10px;
}

.type-normal {
  background: #a8a77a;
}
.type-fire {
  background: #ee8130;
}
.type-water {
  background: #6390f0;
}
.type-electric {
  background: #f7d02c;
}
.type-grass {
  background: #7ac74c;
}
.type-ice {
  background: #96d9d6;
}
.type-fighting {
  background: #c22e28;
}
.type-poison {
  background: #a33ea1;
}
.type-ground {
  background: #e2bf65;
}
.type-flying {
  background: #a98ff3;
}
.type-psychic {
  background: #f95587;
}
.type-bug {
  background: #a6b91a;
}
.type-rock {
  background: #b6a136;
}
.type-ghost {
  background: #735797;
}
.type-dragon {
  background: #6f35fc;
}
.type-dark {
  background: #705746;
}
.type-steel {
  background: #b7b7ce;
}
.type-fairy {
  background: #d685ad;
}
